/* src/app/layout/header/header.component.scss */
.mat-toolbar {
  display: flex;       /* pastikan flex */
  align-items: center; /* vertikal center */
}
.spacer {
  flex: 1 1 auto;      /* dorong tombol ke ujung kanan */
}
