<mat-nav-list>

  <a mat-list-item routerLink="/layout/attendance" routerLinkActive="active-link">
    <mat-icon matListIcon>event</mat-icon>
    <span matLine>Attendance</span>
  </a>


  <a *ngIf="isAdmin" mat-list-item routerLink="/layout/register" routerLinkActive="active-link">
    <mat-icon matListIcon>person_add</mat-icon>
    <span matLine>Register User</span>
  </a>

  <a *ngIf="isAdmin" mat-list-item routerLink="/layout/user" routerLinkActive="active-link">
    <mat-icon matListIcon>people</mat-icon>
    <span matLine>Users Data</span>
  </a>

</mat-nav-list>
