<!-- Search Bar -->
<div class="search-bar" style="display: flex; align-items: center; gap: 12px; margin-bottom: 20px;">
  <mat-form-field appearance="outline" style="flex: 1;">
    <mat-label>Find User</mat-label>
    <input matInput [(ngModel)]="searchTerm" (keyup.enter)="searchUsers()" />
  </mat-form-field>
  <button mat-raised-button color="primary" (click)="searchUsers()">Cari</button>
</div>

<!-- Data Table -->
<div *ngIf="dataSource?.data?.length">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" style="width: 100%;">

    <!-- No -->
    <ng-container matColumnDef="no">
      <th mat-header-cell *matHeaderCellDef>No</th>
      <td mat-cell *matCellDef="let row; let i = index">
        {{ i + 1 + (pageIndex * pageSize) }}
      </td>
    </ng-container>

    <!-- Username -->
    <ng-container matColumnDef="userName">
      <th mat-header-cell *matHeaderCellDef>Username</th>
      <td mat-cell *matCellDef="let row">{{ row.userName }}</td>
    </ng-container>

    <!-- Name -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let row">{{ row.name }}</td>
    </ng-container>

    <!-- Role -->
    <ng-container matColumnDef="role">
      <th mat-header-cell *matHeaderCellDef>Role</th>
      <td mat-cell *matCellDef="let row">{{ row.role }}</td>
    </ng-container>

      <!-- Actions -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef style="text-align: center;">Action</th>
      <td mat-cell *matCellDef="let row">
        <div style="display: flex; justify-content: center; gap: 8px;">
          <button mat-stroked-button color="primary" (click)="openEditDialog(row)">
            <mat-icon>edit</mat-icon>
            Edit
          </button>
          <button mat-stroked-button color="warn" (click)="deleteUser(row.id)">
            <mat-icon>delete</mat-icon>
            Hapus
          </button>
        </div>
      </td>
    </ng-container>


    <!-- Rows -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <!-- Paginator -->
  <mat-paginator [length]="totalElements"
                 [pageSize]="pageSize"
                 [pageIndex]="pageIndex"
                 [pageSizeOptions]="[5, 10, 20]"
                 (page)="onPageChange($event)">
  </mat-paginator>
</div>

<!-- Optional: Show message if no data -->
<div *ngIf="dataSource && !dataSource.data.length" class="empty-state">
  <p style="text-align:center; margin-top: 20px; color: gray;">Data tidak ditemukan</p>
</div>
